;; shadow-cljs configuration
{:source-paths ["src"]

 :dependencies [[proto-repl "0.3.1"]
                [clj-petitparser "0.1.2-SNAPSHOT"]]

 :nrepl {:port 9000
         :middleware []}

 :dev-http {8080 "public"}

 :builds {:dev {:target :browser
                :modules {:main {:init-fn bdrml2uzi.core/init}}}}}
